﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ViewBag.Title - A4 VNEXPRESS </title>
    <link rel="stylesheet" href="CSS/my_css.css">
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>123456</a>
                <a>123456</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng ký</button>
                <button>Đăng nhập</button>
                <input placeholder="Tìm kiếm">
            </div>
        </div>
    </div>

    <div class="image-container">
        <img src="images/Logo_Vnexpress.png" style="width:250px;">
        <img src="images/banner-ads-1.png" style="width:450px;">
        <img src="images/banner-ads-2.png" style="width:450px;">
    </div>

    <div class="Middle-bar">
        <div class="main-Middlebar">
            <button>
                <img src="images/home-logo-and-symbols-vector.jpg" style="width:10px; margin:auto;" />
            </button>
            <button>Thời sự</button>
            <button>Thế giới</button>
            <button>Kinh Doanh</button>
            <button>Giả trí</button>
            <button>Thể thao</button>
            <button>Pháp luật</button>
            <button>Giáo dục</button>
            <button>Sức khỏe</button>
            <button>Gia đình</button>
            <button>Du lịch</button>
            <button>Khoa học</button>
            <button>Số hóa</button>
            <button>Xe</button>
            <button>Cộng đồng</button>
            <button>Tâm sự</button>
            <button>Video</button>
            <button>Cười</button>
            <button>Rao vặt</button>
        </div>
    </div>

    <a href="#">Trang nhất</a>
    <div class="NewPost">
        <div class="post-content">
            <a href="#">
                <img src="~/images/thumnails.png" />
            </a>
            <p>
                Đài Loan cửa trường học vì bão Megi
            </p>
        </div>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
</body>
</html>

