﻿body h1 {
    background-color: red;
}

body .top-bar {
    background-color: gainsboro;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: gainsboro;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            background-color: gainsboro;
            display: flex;
            gap: 20px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: gainsboro;
            display: flex;
            justify-content: space-around;
        }

body .Middle-bar {
    background-color: white;
}

    body .Middle-bar .main-Middlebar {
        width: 80%;
        margin-left: 4px;
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 4;
        gap: 20px;
    }

body .img-container {
    position: relative;
}

.body .img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 20px;
}

body .post-content {
    display: flex;
    align-items: center;
}

    body .post-content img {
        margin-right: 10px;
    }

    body .post-content p {
        margin: 0;
    }

body .NewPost {
    background-color: yellow;
    padding: 10px;
    margin-top: 20px;
}
